.container{
/*
    display: flex;
    flex-wrap: wrap;//Objeleri satıra sığmadığı zaman alt satıra indiriyor
    //flex-direction: column;
    justify-content: space-around;//Container'ın içndeki componentlar kenarlarında ve kendi aralarında boşluk bırakarak ayrılıyolar.
  */
    
}